<p id="notice"><%= notice %></p>

<h2 class="font-bold text-lg text-gray-700 uppercase">Today<span class="text-xs font-normal text-gray-400"> <%= DateTime.now.strftime( "%F" ) %> </span></h2>

<div>
  <% @tasks.each do |task| %> <% if (task.due_date).strftime( "%y %d %m" ) == DateTime.now.strftime( "%y %d %m" ) %>
  <div class="m-2 border rounded shadow">
    <div class="p-4">
      <input type="checkbox" class="mr-2">
      <%= link_to task.title, task %>
    </div>
    <div class="flex justify-between m-2">
      <div>
        <%= (task.due_date).strftime( "%F" ) %>
      </div>
      <div>
        <% if task.priority === 1 %>
        Urgent
        <% elsif task.priority === 2 %>
        High
        <% elsif task.priority === 3 %>
        Medium
        <% else %>
        Low
        <% end %>
      </div>
      <div>
        Description
      </div>
      <div><%= link_to 'Edit', edit_task_path(task) %></div>
    </div>

  </div>
  <% end %> <% end %>
</div>

<%= link_to 'New Task', new_task_path, class: "mt-6 bg-black text-gray-100 px-2 py-1 rounded" %>




<%# link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you
        sure?' } %>