<!DOCTYPE html>
<html>

<head>
  <title>Todo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>

<body>
  <div class="flex h-screen" x-data="{ isDropdownActive: false, isSidebarActive: false, modalTask: false, disabled:true, title: '', due_date: '' }">
    <!-- Sidebar -->
    <%= render 'layouts/partials/sidebar' %>
    <!-- End of sidebar -->
    <!-- Main content -->
    <div class=" block flex-1 min-w-0 bg-white">
      <!-- Top Navigation -->
      <%= render 'layouts/partials/navbar' %>
      <!-- Task Area -->
      <div class="p-4">
        <%= yield %>
      </div>
      <!-- End of task area -->
    </div>
  </div>
</body>

</html>