<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  </head>
  <body class="bg-gray-100 pt-4">
    <!-- Devise content Area -->
    <div class="flex justify-center">
      <div class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 m-4 flex items-center">
        <div class="hidden  text-red-100 bg-red-500 h-full md:flex items-center mr-4 px-4">
          <a href="/" >
            <%= render 'layouts/partials/logo' %>
          </a>
        </div>
        <div class="max-w-xs">
          <div class="text-red-500 md:hidden mb-4">
            <a href="/">
              <%= render 'layouts/partials/logo' %>
            </a>
          </div>
          <%= yield %>
        </div>
      </div>
      <!-- End of devise content area -->
    </div>
  </body>
</html>
